<div class="contact sm-pgv-5 md-pgv-10" id="contact">
  <div class="row sm-mgb-4 md-mgb-5">
    <div class="column-12">
      <h2 class="no-margin sm-fz-32 md-fz-48 lh-1_2 fw-700">Nous contacter</h2>
    </div>
  </div>
  <div class="row">
    <div class="sm-column-12 md-column-6 md-pgt-4">
      <h3 class="no-margin fz-18 lh-1_2 fw-700 sm-mgb-2 md-mgb-3">{{contact.direct.title}}</h3>
      <p class="no-margin fz-14 lh-1_8"><a class="no-underline" href="{{contact.direct.phone_link}}">{{contact.direct.phone}}</a></p>
      <p class="no-margin fz-14 lh-1_8"><a class="no-underline" href="{{contact.direct.mail_link}}">{{contact.direct.mail}}</a></p>
      <h3 class="no-margin fz-18 lh-1_2 fw-700 sm-mgb-2 md-mgb-3 sm-mgt-4 md-mgt-10">{{contact.social.title}}</h3>
      <div class="flex sm-layout-row md-layout-column">
        <a href="{{contact.social.facebook}}" class="flex align-start-center no-underline fz-14 lh-1_2 md-mgb-3">
          <div class="w-5 h-5 bg-yellow round flex align-center-center sm-mgr-4 md-mgr-2"><svg class="w-3 h-3"><use xlink:href="#icon-facebook" /></svg></div>
          <span class="sm-dp-none md-dp-inl">Facebook</span>
        </a>
        <a href="{{contact.social.linkedin}}" class="flex align-start-center no-underline fz-14 lh-1_2 md-mgb-3">
          <div class="w-5 h-5 bg-yellow round flex align-center-center sm-mgr-4 md-mgr-2"><svg class="w-3 h-3"><use xlink:href="#icon-linkedin" /></svg></div>
          <span class="sm-dp-none md-dp-inl">Linkedin</span>
        </a>
        <a href="{{contact.social.instagram}}" class="flex align-start-center no-underline fz-14 lh-1_2 md-mgb-3">
          <div class="w-5 h-5 bg-yellow round flex align-center-center sm-mgr-4 md-mgr-2"><svg class="w-3 h-3"><use xlink:href="#icon-instagram" /></svg></div>
          <span class="sm-dp-none md-dp-inl">Instagram</span>
        </a>
      </div>
    </div>
    <div class="sm-column-12 md-column-6 sm-mgt-5 md-mgt-0">
      <form id="contact-form" class="bg-pattern bg-gray sm-pgh-2 sm-pgv-3 md-pg-4">
        <h3 class="no-margin fz-18 lh-1_2 fw-700 mgb-3">Message</h3>
        <label for="function" class="sm-mgb-2 md-mgb-3">
          <div>{{contact.form.function}}</div>
          <select name="function" id="function">
            <option value="25">Brasseurs/Cavistes</option>
          </select>
        </label>
        <label for="first_name" class="sm-mgb-2 md-mgb-3">
          <div>{{contact.form.first_name}}</div>
          <input type="text" id="first_name" placeholder="Laurent">
        </label>
        <label for="last_name" class="sm-mgb-2 md-mgb-3">
          <div>{{contact.form.last_name}}</div>
          <input type="text" id="last_name" placeholder="Dupont">
        </label>
        <label for="email" class="sm-mgb-2 md-mgb-3">
          <div>{{contact.form.email}}</div>
          <input type="email" id="email" placeholder="laurent.dupont@mail.com">
        </label>
        <label for="phone" class="sm-mgb-2 md-mgb-3">
          <div>{{contact.form.phone}}</div>
          <input type="phone" id="phone" placeholder="06 00 00 00 00">
        </label>
        <label for="message" class="sm-mgb-2 md-mgb-3">
          <div>{{contact.form.message}} <span>(facultatif)</span></div>
          <textarea name="message" id="message" rows="10"></textarea>
        </label>
        <input type="checkbox" name="checkbox" value="1" id="contact_ok">
        <label for="contact_ok" class="sm-mgb-2 md-mgb-3">{{contact.form.checkbox}}</label>
        <div class="flex align-end-center size-100p">
          <button class="button black sm-size-100p md-size-auto">{{contact.form.cta}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
