<div class="product product--fixed desc-section sm-pgv-5 md-pgv-10" id="fixed">
  <div class="row sm-layout-column md-layout-row align-start-stretch">
    <div class="sm-column-12 md-column-6 sm-pgh-0 md-pgh-1 layout-column">
      <div class="bg-gray bg-pattern pgv-9 md-pgh-3 flex align-center-center w-100p">
        <div class="relative">
          <picture alt="" width="416">
            <source srcset="img/d_dispenser_fixe.png 1x, img/d_dispenser_fixe@2x.png 2x" media="(min-width: 640px)">
            <source srcset="img/m_dispenser_fixe.png 1x, img/m_dispenser_fixe@2x.png 2x" media="(max-width: 639px)">
            <img src="img/d_dispenser_fixe.png" />
          </picture>
          <span class="js-more see-more" data-target="fixed-glass" style="top: 0%; left: 71%;">
            <svg class="text-black"><use xlink:href="#icon-plus" /></svg>
            <svg class="round bg-yellow text-black"><use xlink:href="#icon-eye" /></svg>
          </span>
          <span class="js-more see-more" data-target="fixed-filling" style="top: 36%; left: 66%;">
            <svg class="text-black"><use xlink:href="#icon-plus" /></svg>
            <svg class="round bg-yellow text-black"><use xlink:href="#icon-eye" /></svg>
          </span>
          <span class="js-more see-more" data-target="fixed-screen" style="top: 44%; left: 24%;">
            <svg class="text-black"><use xlink:href="#icon-plus" /></svg>
            <svg class="round bg-yellow text-black"><use xlink:href="#icon-eye" /></svg>
          </span>
        </div>
      </div>
    </div>
    <div class="sm-column-12 md-column-6">
      <div class="relative sm-pgh-2 md-pgh-3 flex layout-column">
        <input type="checkbox" id="fixed-desc-toggle" class="toggle dp-none">
        <h2 class="no-margin mgb-2 sm-fz-32 md-fz-48 lh-1_2 fw-700">{{products.fixed.title}}</h2>
        {% comment %} <p class="no-margin mgb-4 sm-dp-none md-dp-block fz-14 lh-1_6 text-gray-darker">{{products.fixed.subtitle}}</p> {% endcomment %}
        <p class="no-margin mgb-5 fz-14 lh-1_8">{{products.fixed.text}}</p>
        <label for="fixed-desc-toggle" class="no-margin md-mgb-2 sm-fz-16 md-fz-18 lh-1_1 fw-700">{{products.fixed.list_title}}</label>
        <ul class="js-toggle-mh">
          {% for item in products.fixed.list %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
        <div class="product__bullets">
          <button class="w-5 h-5 round bg-white shadow product__bullets__close js-close-bullets">
            <svg class="w-4 h-4 text-black"><use xlink:href="#icon-cross"/></svg>
          </button>
          <div class="product__bullet" id="fixed-glass">
            <picture alt="" class="size-100p">
              <source srcset="img/d_focus_gobelets.jpg 1x, img/d_focus_gobelets@2x.jpg 2x" media="(min-width: 640px)">
              <source srcset="img/m_focus_gobelets.jpg 1x, img/m_focus_gobelets@2x.jpg 2x" media="(max-width: 639px)">
              <img src="img/d_focus_gobelets.jpg" />
            </picture>
            <div class="flex layout-column pg-3">
              <h3 class="no-margin mgb-1 fz-18 lh-1_1 fw-700">{{products.bullets.glass.title}}</h3>
              <p class="no-margin fz-14 lh-1_8">{{products.bullets.glass.text}}</p>
            </div>
          </div>
          <div class="product__bullet" id="fixed-filling">
            <picture alt="" class="size-100p">
              <source srcset="img/d_focus_tete_remplissage.jpg 1x, img/d_focus_tete_remplissage@2x.jpg 2x" media="(min-width: 640px)">
              <source srcset="img/m_focus_tete_remplissage.jpg 1x, img/m_focus_tete_remplissage@2x.jpg 2x" media="(max-width: 639px)">
              <img src="img/d_focus_tete_remplissage.jpg" />
            </picture>
            <div class="flex layout-column pg-3">
              <h3 class="no-margin mgb-1 fz-18 lh-1_1 fw-700">{{products.bullets.filling.title}}</h3>
              <p class="no-margin fz-14 lh-1_8">{{products.bullets.filling.text}}</p>
            </div>
          </div>
          <div class="product__bullet" id="fixed-screen">
            <picture alt="" class="size-100p">
              <source srcset="img/d_focus_ecran.jpg 1x, img/d_focus_ecran@2x.jpg 2x" media="(min-width: 640px)">
              <source srcset="img/m_focus_ecran.jpg 1x, img/m_focus_ecran@2x.jpg 2x" media="(max-width: 639px)">
              <img src="img/d_focus_ecran.jpg" />
            </picture>
            <div class="flex layout-column pg-3">
              <h3 class="no-margin mgb-1 fz-18 lh-1_1 fw-700">{{products.bullets.screen.title}}</h3>
              <p class="no-margin fz-14 lh-1_8">{{products.bullets.screen.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
