<div class="glass desc-section sm-pgv-5 md-pgv-10" id="glass">
  <div class="row sm-layout-column md-layout-row align-start-center">
    <div class="sm-column-12 md-column-6 sm-pgh-0 md-pgh-1">
      <div class="bg-gray bg-pattern pgv-9 md-pgh-3 flex align-center-center">
        <picture alt="" width="240">
          <source srcset="img/d_glass.png 1x, img/d_glass@2x.png 2x" media="(min-width: 640px)">
          <source srcset="img/m_glass.png 1x, img/m_glass@2x.png 2x" media="(max-width: 639px)">
          <img src="img/d_glass.png" />
        </picture>
      </div>
    </div>
    <div class="sm-column-12 md-column-6">
      <div class="sm-pgh-2 md-pgh-3 flex layout-column">
        <input type="checkbox" id="glass-desc-toggle" class="toggle dp-none">
        <h2 class="no-margin mgb-2 sm-fz-32 md-fz-48 lh-1_2 fw-700">{{glass.title}}</h2>
        <p class="no-margin mgb-4 sm-dp-none md-dp-block fz-14 lh-1_6 text-gray-darker">{{glass.subtitle}}</p>
        <p class="no-margin mgb-5 fz-14 lh-1_8">{{glass.text}}</p>
        <label for="glass-desc-toggle" class="no-margin md-mgb-2 sm-fz-16 md-fz-18 lh-1_1 fw-700">{{glass.list_title}}</label>
        <ul class="js-toggle-mh">
          {% for item in glass.list %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
