<div class="hero flex align-start-center sm-pg-3 md-pgr-0" id="accueil">
  <div class="row">
    <div class="column-12 no-width layout-column align-start-start">
      <h1 class="flex layout-column sm-fz-40 md-fz-56 sm-lh-1_425 md-lh-1_2 fw-700 text-white">
        <span>{{ hero.title_first }}</span>
        <span class="text-yellow">{{ hero.title_second }}</span>
      </h1>
      <a href="{{ hero.button_link }}" class="button white sm-size-100p md-size-auto">{{ hero.button_label }}</a>
    </div>
  </div>
  <a href="{{ hero.button_link }}" class="no-underline w-6 h-6 bg-white round flex align-center-center hero__scroll">
    <svg class="w-5 h-5"><use xlink:href="#icon-scroll" /></svg>
  </a>
  <div class="hero__video">
    <div id="youtube-hero"></div>
  </div>
</div>
