<div class="sm-pgb-5 sm-pgt-10 md-pgv-10" id="simulation">
  <div class="row">
    <div class="column-12">
      <form class="simulation pgt-3" id="simulation_container">
        <div class="simulation__titles">
          <h2 class="no-margin fz-48 lh-1_2 fw-700">{{simulation.title_first}}</h2>
          <h2 class="no-margin fz-48 lh-1_2 fw-700">{{simulation.title_second}}</h2>
        </div>
        <div class="simulation__slides flex align-start-start mgt-3 md-mgb-3">
          <div class="pgh-2 flex sm-layout-column md-layout-row">
            <label for="keg_number" class="sm-mgb-3 md-mgb-0 md-mgr-2 pgh-1 sm-size-100p md-size-25p">
              <div>{{simulation.keg_number}} <span>{{simulation.keg_number_span}}</span></div>
              <input type="number" id="keg_number" placeholder="10">
            </label>
            <label for="keg_volume" class="sm-mgb-3 md-mgb-0 md-mgr-2 pgh-1 sm-size-100p md-size-25p">
              <div>{{simulation.keg_volume}}</div>
              <select name="volumne" id="keg_volume">
                <option value="20">20L</option>
                <option value="30">30L</option>
              </select>
            </label>
            <label for="glasses_volume" class="sm-mgb-3 md-mgb-0 md-mgr-2 pgh-1 sm-size-100p md-size-25p">
              <div>{{simulation.glasses_volume}}</div>
              <select name="volumne" id="glasses_volume">
                <option value="25">25cL</option>
                <option value="33">33cL</option>
                <option value="50">50cL</option>
              </select>
            </label>
            <label for="avg_price" class="pgh-1 sm-size-100p md-size-25p">
              <div>{{simulation.keg_number}} <span>{{simulation.avg_price_span}}</span></div>
              <input type="number" id="avg_price" placeholder="4,50">
            </label>
          </div>
          <div class="pgh-3 flex sm-layout-column md-layout-row">
            <div class="sm-size-100p md-size-20p bg-white sm-bdb-1-gray-dark md-bdr-1-gray-dark pg-2">
              <h3 class="no-margin fz-16 lh-1_2 mgb-1">1 mois</h3>
              <p class="no-margin fz-18 lh-1_1 fw-700" id="view_1m">-</p>
            </div>
            <div class="sm-size-100p md-size-20p bg-white sm-bdb-1-gray-dark md-bdr-1-gray-dark pg-2">
              <h3 class="no-margin fz-16 lh-1_2 mgb-1">1 an</h3>
              <p class="no-margin fz-18 lh-1_1 fw-700" id="view_1y">-</p>
            </div>
            <div class="sm-size-100p md-size-20p bg-white sm-bdb-1-gray-dark md-bdr-1-gray-dark pg-2">
              <h3 class="no-margin fz-16 lh-1_2 mgb-1">3 ans</h3>
              <p class="no-margin fz-18 lh-1_1 fw-700" id="view_3y">-</p>
            </div>
            <div class="sm-size-100p md-size-20p bg-white sm-bdb-1-gray-dark md-bdr-1-gray-dark pg-2">
              <h3 class="no-margin fz-16 lh-1_2 mgb-1">5 ans</h3>
              <p class="no-margin fz-18 lh-1_1 fw-700" id="view_5y">-</p>
            </div>
            <div class="sm-size-100p md-size-20p bg-white pg-2">
              <h3 class="no-margin fz-16 lh-1_2 mgb-1">10 ans</h3>
              <p class="no-margin fz-18 lh-1_1 fw-700" id="view_10y">-</p>
            </div>
          </div>
        </div>
        <div class="flex sm-layout-column md-layout-row align-start-start pgh-3">
          <div class="flex-auto pgb-3">
            <div class="simulation__texts">
              <p class="no-margin fz-16 lh-1_6">{{simulation.text_first}}</p>
              <p class="no-margin fz-18 lh-1_425" data-text="{{simulation.text_second}}" id="profitability">{{simulation.text_second}}</p>
            </div>
          </div>
          <div class="flex-none sm-size-100p md-size-auto flex align-end-center sm-mgb-3 md-mgb-0">
            <button class="button yellow flex layout-column simulation__buttons disabled sm-size-100p md-size-auto" id="simulation_toggle">
              <span>{{simulation.cta_first}}</span>
              <span>{{simulation.cta_second}}</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
